[submodule "CaseyMods"]
	path = CaseyMods
	url = git@github.com:spacechase0/StardewValleyMods.git
[submodule "StardewRadialMenu"]
	path = StardewRadialMenu
	url = git@github.com:focustense/StardewRadialMenu.git
[submodule "StardewUI"]
	path = StardewUI
	url = git@github.com:focustense/StardewUI.git
